*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #1c44bb;
}

body{
    padding: 0 4rem;
    background-color: #ffff;
}
.titulo, .rodape{
    background-color: #46588C;
    color: #EFF3FA;
}
.rodape a{
    color: #EFF3FA;
}
.falsa{
    padding: 1rem;
    background-color: #C4D2EB;
}

.atencao{
    text-align: center;
    background-color: #EFF3FA;
}
.atencao strong{
    color: rgb(252, 29, 0);
}
.menu{
    display: flex;
    text-align: center;
}
.menu a{
    padding: 2rem;
}
.ajuda{
    padding: 1rem 0;
    text-align: center;
    font-size: small;
}
.ajuda a{
    font-weight: bold;
}
.entrar-sistema{
    width: 360px;
    padding: 0% 2%  0%;
    margin: auto;
    background-color: #C8D5EC;
    border: 4px solid #C8D5EC;
    color: #46588C;
}
.login{
    width: 360px;
    padding: 2% 2%  2% ;
    margin: auto;
    border: 4px solid #C8D5EC;
    text-align: center;

}
.cadastros{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    text-align: center;
    font-size: small;

}
.rodape{
    text-align: center;
    font-size: small;
}